.cash-paid-details {
    img {
        margin: 10px 0 20px 0;
        width: 40px;
    }
}
.borderline {
    border: 1px solid black;
    border-radius: 10px;
}
.common {
    padding: 20px;
    margin: 0px 20px 10px 20px;
}
.search {
    display: flex;
    margin: 0px 20px 10px 20px;
    input{
        margin: 3px;
        border: none;
        outline: none;
        font-size: 18px;
        width: 80%;
    }
    img {
        display: inline-block;
        width: 50px;
        // margin-left: 3px;
    }
}
.preparation-time {
    text-align: center;
    span {
        font-size: 14px;
        color: #555;
    } 
}

.bill-image {
    text-align: center;
    img {
        width: 40px;
    }
}
.bill-value {
    color: #555;
    p {
        margin: 0;
    }
    span {
        margin: 0;
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
}
.bill-additionals {
    margin-top: 10px;
    color: #555;
    dt, dd {
        font-weight: 400;
        display: inline-block;
        width: 48%;
        margin: 0;
    }
    dd {
       text-align: right;
    }
}

.delivery-options {
    text-align: center;
    img {
        width: 60px;
        margin: 0;
        border: 1px solid black;
        border-radius: 5px;
    }
    span {
        display: block;
    }
}
.delivery,.selfservice,.dining {
    position: relative;
    bottom: 0;
    display: inline-block;
    width: 80px;
}

.payment-type {
    input[type='radio'] {
        position: relative;
        width: 10px;
        height: 10px;
    }
    input[type='radio']:after {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        top: -2px;
        left: -1px;
        position: absolute;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        background-color: black;
    }
    input[type='radio']:before {
        width: 14px;
        height: 14px;
        border-radius: 14px;
        top: -3px;
        left: -2px;
        position: absolute;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid black;
    }

    input[type='radio']:checked:before {
        border: 1px solid black;
    }
    label {
        margin:0 0 0 5px;
        font-size: 18px;
    }
}
.amount {
    vertical-align: top;
    outline: none;
    border: none;
    font-size: 14px;
    // height: 24px;
    padding: 0;
    border-bottom:1px solid #333;
    margin:2px 0 0 20px;
}

.bill-paid {
    text-align: center;
    margin-top: 20px;
    button {
        font-weight: 500;
        border: none;
        outline: none;
        color: white;
        background-color: #012e43;
        width: 100px;
        border-radius: 5px;
     }
     button:active {
          box-shadow: 0px 5px 15px #333;
     }
 }