<div class="cash-paid-details">
    <div class="search borderline">
        <input type="text">
        <img src="../../../../assets/images/Icon--10.png">
    </div>
    <div class="preparation-time common borderline">
        <img src='../../../../assets/images/Icon--9.png'>
        <h4>preparing Time</h4>
        <span>{{order.preparation_time}} mins left</span>
    </div>
    <div class="bill common borderline">
        <div class="bill-image">
            <img src="../../../../assets/images/Icon--8.png">
        </div>

        <div class="bill-details">
            <div class='bill-value'>
                <p>Bill Total Value</p>
                <span>{{bill.total}}</span>
            </div>
            <div class="bill-additionals">
                <dl>
                    <dt>Total</dt>
                    <dd>{{bill.total}}</dd>
                    <dt>packing charge</dt>
                    <dd>{{bill.packing_charge}}</dd>
                    <dt>GST</dt>
                    <dd>{{bill.tax}}</dd>
                    <dt>Discount</dt>
                    <dd>{{bill.discount}}</dd>
                </dl>
            </div>
            <div class="payment-type">
                <form>
                    <input type="radio" id="cash" name="payment" value="cash">
                    <label for="cash">Cash</label>
                    <input type="text" class="amount" placeholder="Enter amount">
                    <br>
                    <input type="radio" id="card" name="payment" value="card">
                    <label for="card">Card</label><br>
                    <input type="radio" id="UPI" name="payment" value="UPI">
                    <label for="UPI">UPI</label>
                    <div class="bill-paid">
                        <button type="submit">PAID</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="delivery-options">
        <div class="delivery">
            <img src="../../../../assets/images/Icon--1.png">
            <span>Delivery</span>
        </div>
        <div class="selfservice">
            <img src="../../../../assets/images/Icon--3.png">
            <span>Self Service</span>
        </div>
        <div class="dining">
            <img src="../../../../assets/images/Icon--4.png">
            <span>Dining</span>
        </div>
    </div>
</div>