.navigation {
    border-right: 2px solid #120d29;
    height: 84vh;
}
.side-nav {
    background-color: transparent;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    font-size: 16px;
    border-bottom: 1px solid #333;
}

button {
    position: relative;
    margin: 0;
    height: 40px;
    width: 100%;
    padding: 0px 0px 0px 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-align: left;
    background-color: transparent;
}

.active:before, .active:after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}

.active:after {
    top: 17px;
    border-color: transparent transparent transparent #57cabf;
    border-width: 3px;
}

.active:before {
    top: 15px;
    border-color: transparent transparent transparent #120d29;
    border-width: 5px;
}

.active {
    background-color: #b3dcf0;
    color: #012e43;
    font-weight: 600;
}