<div class="navigation">
    <div class="side-nav">
        <ul id='nav'>
            <li *ngFor="let navitem of navitems; let i = index">
                <button routerLink="{{navitem.pagelink}}" [ngClass]="{'active':selectedIndex === i}" (click)="highliteActivation(i)">{{navitem.lable}}</button>
            </li>
        </ul>
    </div>
</div>