<div class="order-top-nav">
  <ul>
    <li *ngFor="let orderState of orderStates" 
        [class.active]="isActive(orderState.pagelink)">
      <button routerLink="{{ orderState.pagelink }}">
        {{ orderState.lable }} ({{ orderState.quantity }})
      </button>
    </li>
  </ul>
</div>
