.order-top-nav {
    margin: 15px 30px;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

button {
    font-weight: 400;
    border: none;
    outline: none;
    margin-right: 5px;
    background-color: transparent;
    color: #012e43;
}


.active button {
    font-weight: 500;
}