<div class="new-orders">
    <img class="order-bell" src="../../../assets/images/Bell-Icon.png">
    <div class="order-content">
        <div class="wrapper">
            <div class="content">
                <div class="orders" *ngFor="let order of orders">
                    <div class="order-header clearfix">
                        <div class="order-id">
                            <h4><span>Order ID</span> : {{order.id}}</h4>
                        </div>
                        <div class="order-status">
                            <span>({{order.status}})</span>
                        </div>
                        <div class="order-time">
                            <span>{{order.time}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="order-details">
                        <div class="items clearfix" *ngFor="let item of order.items">
                            <div class="item-quantity-control">
                                <button>-</button>
                            </div>
                            <div class="item-details">
                                <h6><b>{{item.unit}} X {{item.name}} ({{item.quantity}})</b></h6>
                                <p><span class="addons">Add Ons :</span> {{item.addonUnit}} {{item.addonproduct}}</p>
                                <p><span class="notes">Kitchen Notes : </span>{{item.notes}}</p>
                            </div>
                            <div class="item-price">
                                <span>{{item.price}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="order-time-control clearfix">
                        <div class="timer">
                            <img src="../../../assets/images/sand-clock.png">
                            <span>00:29</span>
                        </div>
                        <div class="time-scroll">
                            <p>time</p>
                        </div>
                    </div>
                    <hr>
                    <div class="order-controls">
                        <div class="controls">
                            <button class="rejectbtn">
                                REJECT
                            </button>
                            <button class="acceptbtn">
                                ACCEPT
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>