.new-orders {
    position: relative;
    left: 10%;
    width: 70%;
    height: 100%;
}
.order-bell {
    width: 50px;
    position: absolute;
    top: -50px;
    right: -25px;
}
.order-content {
    position: relative;
    width: 100%;
    height: 500px;
}
.order-content::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: calc(100% - 40px);
    top: 20px;
    right: 0px;
    width: 3px;
    background: #999;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapper::-webkit-scrollbar {
    display: block;
    width: 3px;
}
.wrapper::-webkit-scrollbar-thumb {
    background-color: #444;
    border-right: none;
    border-left: none;
}
.wrapper::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content{
    width: 100%;
}
.orders {
    margin: 10px 20px 40px 40px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #333;
    h4 {
        margin: 0;
        padding: 0;
    }
}

.order-id {
    float: left;
    margin-right: 10px;
    span {
        color: #012e43;
    }
}
.order-status {
    font-size: 20px;
    color: #777;
    font-weight: 300;
    float: left;
}
.order-time {
    float: right;
    margin: 5px 30px 0 0;
    font-weight: 300;
}

hr {
    margin: 0;
    padding: 0;
}

.order-details {
    margin-top: 20px;
    h6,p {
        margin: 0;
        padding: 0;
    }
}

.items {
    margin: 10px 0;
}

.item-quantity-control,.item-details {
    float: left;
}

.item-quantity-control {
    button {
        font-size: 16px;
        font-weight: 900;
        margin-right: 15px;
        padding: 0px 6px;
        border: 0.5px solid black;
        border-radius: 50%;
        outline: none;
        background-color: transparent;
    }
}
.item-details {
    p {
        font-size: 14px;
        color:#555;
    }
    span {
        font-weight: 500;
    }
}
.addons {
    color: #971d44;
}
.notes {
    color: #274a2a;
}
.item-price {
    float: right;
    margin-right: 30px;
    span {
        font-weight: 500;
    }
}

.order-time-control {
    position: relative;
}

.timer {
    padding: 15px 25px;
    position: absolute;
    top: 15px;
    border: 1px solid green;
    box-shadow: 0px 0px 10px 2px green;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    img {
        width: 30px;
    }
    span {
        display: block;
    }
}

.time-scroll {
    float: right;
}

.order-controls {
    position: relative;
    padding: 15px;
}
.controls {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    button:active {
        box-shadow: 0px 5px 15px #333;
    }
    :first-child{
        margin-right: 15px;
    }
}
.rejectbtn, .acceptbtn {
    width: 150px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 10px;
}
.rejectbtn {
    background-color: #ee2e2e;
    background-image: linear-gradient(150deg,#ee2e2e,#910000);
}
.rejectbtn:active {
    background-image: linear-gradient(150deg,#910000,#ee2e2e);
}
.acceptbtn {
    background-color: #03bb03;
    background-image: linear-gradient(150deg,#03bb03,#017001);
}
.acceptbtn:active {
    background-image: linear-gradient(150deg,#017001,#03bb03);
}
