<app-top-bar></app-top-bar>
<div class="main-container">
    <app-side-nav class="side-navigation"></app-side-nav>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>