.order-cash-on-pickup {
    display: flex;
}
.order-cash-on-pickup-list {
    width: 70%;
}
.order-cash-on-pickup-content {
    position: relative;
    width: 100%;
    height: 450px;
}
.order-cash-on-pickup-content::after {
    content: attr(value);
    position: absolute;
    z-index: -1;
    height: calc(100% - 60px);
    top: 35px;
    right: 0px;
    width: 3px;
    background: #999;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapper::-webkit-scrollbar {
    display: block;
    width: 3px;
}
.wrapper::-webkit-scrollbar-thumb {
    background-color: #444;
    border-right: none;
    border-left: none;
}
.wrapper::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 35px;
    margin-bottom: 25px;
}

.content {
    width: 100%;
}

.orders {
    outline: none;
    h4 {
        margin: 0;
        padding: 0;
    }
}

.order-top-block {
    text-align: right;
    margin: 0 20px 0 15px;
}

.order-type {
    margin-right: 10px;
    display: inline-block;
    padding: 5px 20px;
    background-color: #faf2c9;
    background-image: linear-gradient(90deg, #faf2c9, #eddbab);
    color:black;
    border-radius: 10px 10px 0px 0px;
    h5 {
        margin: 0;
        padding: 0;
    }
}

.order-middle-block {
    margin: 0 20px 40px 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #333;
}
.order-header {
    background-color:#b3dcf0;
    padding: 12px 22px;
    border-radius: 10px 10px 0 0;
}

.order-id {
    float: left;
    margin: 5px 10px 0 0;
}
.order-status {
    margin-top: 3px;
    font-size: 20px;
    color: #777;
    font-weight: 300;
    float: left;
}
.order-time {
    font-weight: 300;
    float: right;
    margin: 10px 30px 0 0;
}
.print-order {
    float: right;
    margin-left: 10px;
    img {
        width: 40px;
    }
}

hr {
    margin: 0;
    padding: 0;
}

.order-details {
    padding: 12px 22px;
    p {
        margin: 0;
        padding: 0;
    }
    span {
        font-size: 20px;
        font-weight: 300;
    }
    p span {
        font-size: 15px;
        font-weight: 600;
    }
}

.quantity,.details {
    display: inline-block;
}

.quantity {
    vertical-align: top;
    margin-right: 5px;
}


.items {
    margin: 10px 0;
}

.item-quantity-control,.item-details {
    float: left;
}

.item-details {
    p {
        color:#555;
    }
}
.addons {
    color: #971d44;
}
.notes {
    color: #274a2a;
}
.item-price {
    float: right;
    margin-right: 80px;
    span {
        font-weight: 400;
    }
}
.order-cashpaid-Block {
    width: 30%;
}

.highlight {
    background-color: #d3d3d3;
}