<div class="main-content">
    <div class="status">
        <div #statusOnline *ngIf="status; else statusOffline">
            <img src="../../assets/images/Waiting-for-orders.png" alt="">
        </div>
        <ng-template #statusOffline>
            <img src="../../assets/images/OFFLINE.png">
        </ng-template>
    </div>
</div>
