/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('./assets/images/BG-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: minmax(768px, auto);
    // overflow: hidden;
}

.clearfix::before, .clearfix::after {
    display: table;
    clear: both;
    content: "";
}


body::-webkit-scrollbar {
    width: 3px;
  }

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #999; 
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
     background-color: #444;
}

@import "~bootstrap/dist/css/bootstrap.css";