.pickedup {
    img {
        margin: 10px 0 20px 0;
        width: 40px;
    }
}
.borderline {
    border: 1px solid black;
    border-radius: 10px;
}
.common {
    padding: 20px;
    margin: 0px 20px 10px 20px;
}
.search {
    display: flex;
    margin: 0px 20px 10px 20px;
    input{
        margin: 3px;
        border: none;
        outline: none;
        font-size: 18px;
        width: 80%;
    }
    img {
        display: inline-block;
        width: 50px;
        // margin-left: 3px;
    }
}
.preparation-time {
    text-align: center;
    span {
        font-size: 14px;
        color: #555;
    } 
}

.bill-image {
    text-align: center;
    img {
        width: 40px;
    }
}
.bill-value {
    color: #555;
    p {
        margin: 0;
    }
    span {
        margin: 0;
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
}
.bill-additionals {
    margin-top: 10px;
    color: #555;
    dt, dd {
        font-weight: 400;
        display: inline-block;
        width: 48%;
        margin: 0;
    }
    dd {
       text-align: right;
    }
}

.delivery-options {
    text-align: center;
    img {
        width: 60px;
        margin: 0;
        border: 1px solid black;
        border-radius: 5px;
    }
    span {
        display: block;
    }
}
.delivery,.takeaway,.selfservice,.dining {
    position: relative;
    bottom: 0;
    display: inline-block;
    width: 80px;
}