<div class="order-ready">
    <div class="order-ready-list">
        <div class="order-ready-content">
            <div class="wrapper">
                <div class="content">
                    <div class="orders" *ngFor="let order of orders; let i = index" (click)="activateHandover('handover')" routerLink='handover'>
                        <div class="order-top-block">
                            <div class="order-type">
                                <h5>{{order.type}}</h5>
                            </div>
                        </div>
                        <div class="order-middle-block" (click)="highlight(i)">
                            <div class="order-header clearfix" [ngClass]="{'highlight':selectedIndex === i}">
                                <div class="order-id">
                                    <h4><span>Order ID</span> : {{order.id}}</h4>
                                </div>
                                <div class="order-status">
                                    <span>({{order.status}})</span>
                                </div>
                                <div class="print-order">
                                    <img src="../../../assets/images/Icon--11.png">
                                </div>
                                <div class="order-time">
                                    <span>{{order.time}}</span>
                                </div>
                            </div>
                            <div class="order-details">
                                <div class="items clearfix" *ngFor="let item of order.items">
                                    <div class="item-details">
                                        <div class ="quantity">
                                            <span><b>{{item.unit}} X </b></span>
                                        </div>
                                        <div class="details">
                                            <span><b>{{item.name}} ({{item.quantity}})</b></span>
                                            <div class="additionals">
                                                <p><span class="addons">Add Ons :</span> {{item.addonUnit}} {{item.addonproduct}}</p>
                                                <p><span class="notes">Kitchen Notes : </span>{{item.notes}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <span>{{item.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-ready-control" id="handover">
            <button (click)="deActivateHandover('handover')">HANDOVER</button>
        </div>
    </div>
    <div class="orderReadyBlock">
        <router-outlet></router-outlet>
    </div>
</div>