<div class="top-bar clearfix">
    <div class="brand">
        <img src="../../assets/images/Mabliz.png">
    </div>
    <div class="vendor clearfix">
        <img src="../../assets/images/Icon--5.png">
        <div class="vendor-details">
            <h5>{{vendor.name}}</h5>
            <span>{{vendor.posting}}</span>
        </div>
        <div class="status">
            <label class="switch">
                <input type="checkbox" id="OnOff" (click)="captureOnOff()">
                <div class="slider round">
                    <span class="on">ON</span>
                    <span class="off">OFF</span>
                </div>
            </label>
        </div>
    </div>
</div>