.top-bar{
    width: 100%;
    background-image: url("../../assets/images/Top-Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.brand {
    float: left;
    margin: 30px 15px 15px 30px;
    width: 10%;
    img {
        width: 100px;
    }
}

.vendor {
    background-color: white;
    float: right;
    min-width: 30%;
    margin:15px;
    padding: 10px;
    border-radius: 5px;
    img {
        margin-right: 5px;
        width: 50px;
        vertical-align: top;
    }
}

.vendor-details {
    display: inline-block;
    h5 {
        margin: 0;
    }
    span {
        color: #666;
        font-size: 16px;
        margin-top: 5px;
    }
}

.status {
    margin: 16px 20px 0px 0px;
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 20px;
}

  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fb0101;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

  
input:checked + .slider {
    background-color: #2d8b1c;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2d8b1c;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-20% ,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
    display: block;
    transform: translate(-100% ,-50%);
}

input:checked + .slider .off {
    display: none;
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 25px;
}
  
.slider.round:before {
    border-radius: 50%;
}